<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://ianmorgan.github.io/assets/css/style.css?v=8bf51261ae87acf76a120a5f502b963e9964a468" media="screen" type="text/css">
    <link rel="stylesheet" href="https://ianmorgan.github.io//assets/css/print.css" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>



    <title>Graph Store - Results</title>

    <style>

    </style>

</head>

<body>
<header>
    <div class="inner">
        <a href="http://github.com/ianmorgan/graph-store">
            <h1>Graph Store</h1>
        </a>
    </div>
</header>


<div id="content-wrapper">
    <div class="inner clearfix">
        <section id="main-content">
            <h1 id="result">Results</h1>

            <pre class="prettyprint"><code class="js">
            {{json}}
            </code></pre>


        </section>
    </div>
</div>


</body>
</html>